{
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "browser": true,
        "es6": true
    },
    "extends": ["eslint:recommended", "google"],
    "rules": {
        "indent": ["error", 4],
        "arrow-parens": "off",
        "comma-dangle": "off",
        "no-trailing-spaces": "off",
        "semi": "off",
        "object-curly-spacing": "off",
        "linebreak-style": ["error", "windows"]
    }
}
