.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $width_cell;
    border: 1px solid $color_gray;
    background-color: #fff;
}

.cell.selected {
    position: relative;
    outline: 2px solid $color_blue;
}
